<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <script src='/javascripts/wow.min.js'></script>
        <link rel='stylesheet' href='/stylesheets/animate.css' />
        <script>
          new WOW().init();
         </script>
  </head>
  <body>
    <%include templates/header.ejs%>

    <div class="parallax" style="height:100vh;background-image:url(images/parallax5.jpg);">
    <div class="caption">
                     <span class="caption_text">Goals are made of <b>people</b></span>
                 </div>
    <%include templates/scrollino.ejs%>
    </div>
    <div class="band">
              <h2 class="wow fadeIn">About</h2>
              <p class="wow fadeIn">SunRise is an <b>open source</b> software that shows how solar energy can contribute both for the developed countries and for the undeveloped ones.<br>
              It consists of two subapplications: <a href="/calculation" target="_blank">Companies</a> and <a href="/solaraid" target="_blank">Africa</a><br>
              <b>Companies</b> finds whether there is the necessity of optimizing the use of solar energy of a given company basing on the Pv system features and on the monthly electrical need.<br>
              <b>Africa</b> gives an idea to the donor to <a href="http://www.solar-aid.org/" target="_blank">SolarAid</a> of how much his donation would contribute in the African people's lives.<br>
              The repository on Github is on this <a href="https://github.com/chiaramasci/SunRise" target="_blank">link</a></p>
              </div>

    <div class="parallax" style="background-image:url(images/parallax6.jpg);" id="team">
        <div class="caption">
            <span class="caption_text"><b>4 heads</b> are better than one</span>
        </div>
    </div>
    <div class="band" style="overflow:auto;">
    <h2 class="wow fadeIn">The team</h2>
    <p class="wow fadeIn">Our <b>passionate</b> team</p>

        <div class="boxone" >
            <div class="box wow fadeIn" data-wow-delay="0.25s">
                <h3 class="name">Chiara Masci</h3>
                <p class="role">developer</p>
                <p class="wid">
                    I attend the <b>Istituto Pavoniano Artigianelli school for Graphic Arts and Design.</b><br>
                    I have been in the <b>WebValley</b> summer school organized by FBK as I am very passionate about <b>coding, physics</b> and <b>math.</b>
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:studente.chiara.masci@pavoniani.tn.it">e-mail me</a>
                </div>
            </div>

            <div class="box wow fadeIn" data-wow-delay="0.5s">
                <h3 class="name">Marcus Vukojevic</h3>
                <p class="role">marketing</p>
                <p class="wid">
                    I’m a student of the <b>Ladin High School</b> in Pozza di Fassa. <br>
                    I’ve been in Poland for the <b>Startify7</b> program launched by the European commission. <br>
                    The main topic was business planning and I’m really interested in that. <br>
                    I love <b>astrophysics,</b> creating new useful things and being <b>innovative.</b>
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:marcusvuk@gmail.com">e-mail me</a>
                 </div>
            </div>

            <div class="box wow fadeIn" data-wow-delay="0.75s">
                <h3 class="name">Sabrina Rungaldier</h3>
                <p class="role">video maker</p>
                <p class="wid">
                    I attend the <b>Ladin High School of Fassa for Design.</b><br>
                    Since I was a child I've been interested in <b>motorsports</b> and <b>watches</b> and my dream is to become an automotive designer.
                    I'm fascinated by artisans and I like to realize my own <b>creations.</b>
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:sabri.rng97@gmail.com">e-mail me</a>
                 </div>
            </div>

            <div class="box wow fadeIn" data-wow-delay="1s">
                <h3 class="name">Thomas Zulian</h3>
                <p class="role">mentor</p>
                <p class="wid">
                    I'm a <b>Math teacher</b> in the <b>Ladin High School</b> of Pozza di Fassa. <br>
                    I have been working in the school for 8 years, in which I tried to offer to my students <b>interesting projects</b> about robots, scientific shows, health and theater. <br>
                    I like <b>science, nature, sport</b> and <b>fun.</b>
                </p>

                <div class="linkBox">
                    <a class="mail" href="mailto:thomas.zulian@gmail.com">e-mail me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax" style="background-image:url(images/parallax7.jpg);">
        <div class="caption">
            <span class="caption_text">Do you want to make a change? <b>Collaborate</b></span>
        </div>
    </div>
    <div class="band" style="overflow:auto;">
    <h2 class="wow fadeIn">Collaborations</h2>
    <p class="wow fadeIn" >Our <b>cooperative</b> helpers</p>

    <div class="boxone wow fadeIn">
        <div class="box" style="width:20%;">
            <a href="http://www.ecogriddy.com/" target="_blank">
                <img src="/images/ecogriddy.png" width="60" style="margin-top: 20px;">
            </a>
            <p>Ecogriddy</p>
        </div>

        <div class="box" style="width:20%;">
            <a href="http://www.enea.it/" target="_blank">
                <img src="/images/enea.png" width="114" style="margin-top: 25px;">
            </a>
            <p>ENEA<br>Energy Technologies Department<br>Thermal and Thermodynamic Solar Division</p>
        </div>

        <div class="box" style="width:20%;">
            <a href="http://ec.europa.eu/jrc/en" target="_blank">
                <img src="/images/jrc.png" width="130">
            </a>
            <p>Joint Research Centre</p>
        </div>

        <div class="box" style="width:20%;">
            <a href="http://www.solar-aid.org/" target="_blank">
                <img src="/images/solaraid.png" width="102">
            </a>
            <p>Solar Aid</p>
        </div>

         <div class="box" style="width:20%;">
            <a href="http://www.greenlightplanet.com/" target="_blank">
                <img src="/images/greenlight.png" width="180" style="margin-top: 13px;">
            </a>
             <p>Greenlight Planet</p>
         </div>
    </div>
    </div>

    <div class="parallax" style="background-image:url(images/parallax8.png);"></div>
    <div class="band">
    <h2 class="wow fadeIn">Credits</h2>
    <p>Solar Radiation data of ENEA – Energy Technologies Department – Thermal and Thermodynamic Solar Division – Research Centre Casaccia (RM) <br>
    African global solar irradiance data from the Joint Research Centre of the European Commission<br>
    Free images from pixabay.com, www.pexels.com</p>
    </div>
  </body>
</html>
