<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%include templates/header.ejs%>

    <div class="parallax" style="height:100vh;background-image:url(images/parallax5.jpg);"></div>
    <div class="band">
    <h2>About</h2>
    <p>SunRise is an <b>open source</b> software that shows how solar energy can contribute both for the developed countries and for the undeveloped ones.<br>
    It consists of two subapplications: <a href="/calculation" target="_blank">Companies</a> and <a href="/solaraid" target="_blank">SolarAid</a><br>
    <b>Companies</b> finds whether there is the necessity of optimizing the use of solar energy of a given company basing on the Pv system features and on the monthly electrical need.<br>
    <b>SolarAid</b> gives an idea to the donor to <a href="http://www.solar-aid.org/" target="_blank">SolarAid</a> of how much his donation would contribute in the African people's lives.<br>
    The repository on Github is on this <a href="https://github.com/chiaramasci/SunRise" target="_blank">link</a></p>
    </div>

    <div class="parallax" style="background-image:url(images/parallax6.jpg);">
        <div class="caption">
            <span class="caption_text"><b>4 heads</b> are better than one</span>
        </div>
    </div>
    <div class="band" style="overflow:auto;">
    <h2>The team</h2>
    <p>Our <b>passionate</b> team</p>

        <div class="boxone">
            <div class="box">
                <img>
                <h3 class="name">Chiara Masci</h3>
                <p class="role">developer</p>
                <p class="wid">
                    I attend the Istituto Pavoniano Artigianelli school for Graphic Arts and Design.<br>
                    I am passionate about coding, physics and math.
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:studente.chiara.masci@pavoniani.tn.it">e-mail me</a>
                </div>
            </div>

            <div class="box">
                <img>
                <h3 class="name">Marcus Vukojevic</h3>
                <p class="role">marketing</p>
                <p class="wid">
                    I attend the Istituto Pavoniano Artigianelli school for Graphic Arts and Design.<br>
                                        I am passionate about coding, physics and math.
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:marcusvuk@gmail.com">e-mail me</a>
                 </div>
            </div>

            <div class="box">
                <img>
                <h3 class="name">Sabrina Rungaldier</h3>
                <p class="role">video maker</p>
                <p class="wid">
                    I attend the Istituto Pavoniano Artigianelli for Graphic Arts and Design.<br>
                                        I am passionate about coding, physics and math.
                </p>

                 <div class="linkBox">
                    <a class="mail" href="mailto:sabri.rng97@gmail.com">e-mail me</a>
                 </div>
            </div>

            <div class="box">
                <img>
                <h3 class="name">Thomas Zulian</h3>
                <p class="role">mentor</p>
                <p class="wid">
                    I'm a Math teacher in the Ladin High School of Pozza di Fassa. <br>
                    I have been working in the school for 8 years, in which I tried to offer to my students  interesting projects about robots, scientific shows, health and theater. <br>
                    I like science, nature, sport and fun.
                </p>

                <div class="linkBox">
                    <a class="mail" href="mailto:thomas.zulian@gmail.com">e-mail me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax" style="background-image:url(images/parallax7.jpg);">
        <div class="caption">
            <span class="caption_text">Do you want to make a change? <b>Collaborate</b></span>
        </div>
    </div>
    <div class="band">
    <h2>Collaborations</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>

    <div class="parallax" style="background-image:url(images/parallax8.png);"></div>
    <div class="band">
    <h2>Credits</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>
  </body>
</html>
