<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%include templates/header.ejs%>

    <div class="parallax" style="height:100vh;background-image:url(images/parallax5.jpg);"></div>
    <div class="band">
    <h2>About</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>

    <div class="parallax" style="background-image:url(images/parallax6.jpg);">
        <div class="caption">
            <span class="caption_text"><b>4 heads</b> are better than one</span>
        </div>
    </div>
    <div class="band">
    <h2>The team</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>

    <div class="parallax" style="background-image:url(images/parallax7.jpg);">
        <div class="caption">
            <span class="caption_text">Do you want to make a change? <b>Collaborate</b></span>
        </div>
    </div>
    <div class="band">
    <h2>Collaborations</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>

    <div class="parallax" style="background-image:url(images/parallax8.png);"></div>
    <div class="band">
    <h2>Credits</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    </div>
  </body>
</html>
