<head>
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css' />

<style>
h1{
   margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:45vh;
    font-weight:100;}

</style>
</head>

<%include templates/header.ejs%>

<h1>Sunny Page <%= message %> :(</h1>

