<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index_style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <%include templates/header.ejs%>

    <div class="parallax" style="height:100vh;">
        <div class="caption">
            <span class="caption_text">For a shining future</span>
        </div>
    </div>
    <div class="band">
    <h2>About</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    <a href="/about">READ MORE</a>
    </div>

    <div class="parallax" style="background-image:url(images/parallax2.jpg);">
        <div class="caption">
                <span class="caption_text"><b>Optimization</b> is the best way to have more</span>
            </div>
    </div>
    <div class="band">
    <h2>For companies</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    <a href="/calculate">CALCULATE</a>
    </div>

    <div class="parallax" style="background-image:url(images/parallax3.jpg);">
        <div class="caption">
            <span class="caption_text">Everyone should have <b>light</b></span>
        </div>
    </div>
    <div class="band">
    <h2>For Africa</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    <a href="/solaraid">HOW MUCH LIGHT CAN YOU DONATE?</a>
    </div>

    <div class="parallax" style="background-image:url(images/parallax4.jpg);"></div>
    <div class="band">
    <h2>Contacts</h2>
    <p>Lorem Ipsum djkdkdfkjdfkjdfjkdfjkdfjkdjkdfjkfd</p>
    <a href="/about">MORE INFO ABOUT US</a>
    </div>

  </body>
</html>
