<div id="nav">
    <img src="/images/logo.png">

    <div id="links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/calculation">Companies</a>
    <a href="/solaraid">Africa</a>
    <a href="/howto">help</a>
    </div>
</div>