<div class="scroll">
            <div class="scrollino">
            <span class="caption_text">V</span>
            <span class="caption_text">SCROLL DOWN</span>
            <span class="caption_text">V</span>
            </div>
        </div>